h1{
	margin-left:40px;
}
.chat{
	vertical-align:bottom;

}
.chatbox{
	border-color:black;
	border-style:solid;
	border-width:1px;
	height:800px;
	position:relative;
}
.channellist{
	margin-bottom:20px;
}
.addchannel{
	clear:both;
	float:left;
}
.channelbutton{
	margin: 3px;
	display:flex;
	justify-content:space-between;
	width:300px;
}
.trashcan{
	height:300px;
}
.favorite{
	height:400px;
	width:400px;
	float:right;
	margin-right:200px;
}
.chatlistitem{
	height:25px;
	padding: 0;
	cursor:pointer;
}
.chatlistfavorite{
	display:flex;
	justify-content:space-between;
	height:25px;
	padding: 0;
	cursor:pointer;
	background-color:coral;
}
.optionsbuttons{
	list-style-type:none
}
.adminbox{
	display:flex;
	align-content:flex-start;
	flex-direction:column;
}
.admininnerbox{

}
